<div class="container h-100 d-flex">
  <div
    class="jumbotron col-sm-8 text-center mt-5 mb-1 mx-auto"
    id="main-jumbotron"
  >
    <h1
      style="color: #0088ff"
      class="text-nowrap mb-3 text-center display-4 d-none d-md-block"
    >
      <a
        id="day-title-a"
        target="_blank"
        [href]="menu == null ? defaultUrl : menu.url"
        [innerHTML]="menu == null ? getDayTitle() : menu.day"
      >
      </a>
    </h1>
    <h1 style="color: #0088ff" class="text-nowrap mb-3 text-center d-md-none">
      <a
        id="day-title-b"
        target="_blank"
        [href]="menu == null ? defaultUrl : menu.url"
        [innerHTML]="menu == null ? getDayTitle() : menu.day"
      >
      </a>
    </h1>
    <div id="loader" *ngIf="!loaded" class="text-center h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="loader"></div>
      </div>
    </div>

    <!-- Create div above #lunch and #dinner divs. -->
    <div id="lunch" class="container" *ngIf="loaded && menu != null">
      <div class="row h-100 d-flex p-2 align-items-center p-sm-0">
        <div class="col-sm-4 text-right mr-4 d-none d-sm-block">
          <h5>Comida</h5>
        </div>
        <div class="col-sm-4 mr-4 d-sm-none">
          <h5>Comida</h5>
        </div>
        <div class="row col-sm-8">
          <div class="w-100 text-left d-none d-sm-block">
            <p id="lunch-1a" [innerHTML]="menu.lunch.p1"></p>
          </div>
          <div class="w-100 d-sm-none">
            <p id="lunch-1b" [innerHTML]="menu.lunch.p1"></p>
          </div>

          <div class="w-100 text-left d-none d-sm-block">
            <p
              id="lunch-2a"
              [innerHTML]="menu.lunch.p2 != null ? menu.lunch.p2 : null"
            ></p>
          </div>
          <div class="w-100 d-sm-none">
            <p
              id="lunch-2b"
              [innerHTML]="menu.lunch.p2 != null ? menu.lunch.p2 : null"
            ></p>
          </div>
        </div>
      </div>
    </div>
    <div id="dinner" class="container" *ngIf="loaded && menu != null">
      <div class="row h-100 d-flex p-2 align-items-center p-sm-0">
        <div class="col-sm-4 text-right mr-4 d-none d-sm-block">
          <h5>Cena</h5>
        </div>
        <div class="col-sm-4 mr-4 d-sm-none">
          <h5>Cena</h5>
        </div>
        <div class="row col-sm-8">
          <div class="w-100 text-left d-none d-sm-block">
            <p id="dinner-1a" [innerHTML]="menu.dinner.p1"></p>
          </div>
          <div class="w-100 d-sm-none">
            <p id="dinner-1b" [innerHTML]="menu.dinner.p1"></p>
          </div>

          <div class="w-100 text-left d-none d-sm-block">
            <p
              id="dinner-2a"
              [innerHTML]="menu.dinner.p2 != null ? menu.dinner.p2 : null"
            ></p>
          </div>
          <div class="w-100 d-sm-none">
            <p
              id="dinner-2b"
              [innerHTML]="menu.dinner.p2 != null ? menu.dinner.p2 : null"
            ></p>
          </div>
        </div>
      </div>
    </div>
    <h5 id="N/A" *ngIf="loaded && menu == null">Datos no disponibles</h5>
  </div>
</div>
<div class="container h-100 d-flex justify-content-center">
  <div class="container h-100 col-sm-8 d-flex justify-content-between p-0">
    <div>
      <a id="previous" class="btn btn-primary" role="button"> Anterior </a>
    </div>
    <div><a id="all" class="btn btn-primary" role="button">Todos</a></div>
    <div>
      <a id="next" class="btn btn-primary" role="button">Siguiente</a>
    </div>
  </div>
</div>
