<div *ngIf="errorFlag" class="alert alert-danger" role="alert">
    {{errorMsg}}
</div>
<div *ngIf="successFlag" class="alert alert-primary" role="alert">
  Menu saved successfully
</div>
<div class="container h-100 d-flex">
  <div class="jumbotron col-sm-8 text-center mt-5 mb-1 mx-auto">
    <h5 id="title" class="display-4 mb-4">Añadir datos</h5>
    <!-- <form action="/add" method="POST"> -->
    <div class="form-group">
      <label for="date" class="text-left">Fecha</label>
      <input
        name="date"
        type="date"
        class="form-control"
        placeholder="Fecha del menú"
        id="date"
        [(ngModel)]="date"
      />
    </div>
    <div class="form-group">
      <label for="lunch-1">Comida - 1</label>
      <input
        name="lunch-1"
        type="text"
        class="form-control"
        placeholder="Comida - plato 1"
        id="lunch-1"
        [(ngModel)]="lunch1"
      />
    </div>
    <div class="form-group">
      <label for="lunch-2">Comida - 2</label>
      <input
        name="lunch-2"
        type="text"
        class="form-control"
        placeholder="Comida - plato 2"
        id="lunch-2"
        [(ngModel)]="lunch2"
      />
    </div>
    <div class="form-group">
      <label for="dinner-1">Cena - 1</label>
      <input
        name="dinner-1"
        type="text"
        class="form-control"
        placeholder="Cena - plato 1"
        id="dinner-1"
        [(ngModel)]="dinner1"
      />
    </div>
    <div class="form-group">
      <label for="dinner-2">Cena - 2</label>
      <input
        name="dinner-2"
        type="text"
        class="form-control"
        placeholder="Cena - plato 2"
        id="dinner-2"
        [(ngModel)]="dinner2"
      />
    </div>
    <div class="form-group">
      <label for="token">Token</label>
      <input
        name="token"
        type="password"
        class="form-control"
        placeholder="Token"
        id="token"
        [(ngModel)]="token"
      />
    </div>

    <button type="button" class="btn btn-primary mr-3" (click)="log()">
      log
    </button>
    <button type="button" class="btn btn-primary mr-3" (click)="addMenu()">
      Submit
    </button>
    <button type="button" class="btn btn-secondary" (click)="reset()">
      Reset
    </button>
    <!-- </form> -->
  </div>
</div>
