<div class="container h-100 d-flex">
  <div
    class="jumbotron col-sm-8 text-center mt-5 mb-1 mx-auto"
    id="main-jumbotron"
  >
    <h1
      style="color: #0088ff"
      class="text-nowrap mb-3 text-center display-4 d-none d-md-block"
    >
      <a
        id="day-title-a"
        target="_blank"
        [href]="dayTitleLink"
        [innerHTML]="dayTitle"
      >
      </a>
    </h1>
    <h1 style="color: #0088ff" class="text-nowrap mb-3 text-center d-md-none">
      <a
        id="day-title-b"
        target="_blank"
        [href]="dayTitleLink"
        [innerHTML]="dayTitle"
      >
      </a>
    </h1>
    <div id="loader" *ngIf="!loaded" class="text-center h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="loader"></div>
      </div>
    </div>

    <h5 id="N/A" *ngIf="loaded && menu == null">Datos no disponibles</h5>
    <app-lunch [meal]="lunch" *ngIf="loaded && menu != null"></app-lunch>
    <app-dinner [meal]="dinner" *ngIf="loaded && menu != null"></app-dinner>

    <div class="container h-100 d-flex justify-content-center">
      <div class="container h-100 col-sm-8 d-flex justify-content-between p-0">
        <div>
          <a
            id="previous"
            class="btn btn-primary px-md-2"
            role="button"
            (click)="yesterday()"
            >Anterior</a
          >
        </div>
        <div>
          <a id="all" class="btn btn-primary px-md-2" role="button">Todos</a>
        </div>
        <div>
          <a
            id="next"
            class="btn btn-primary px-md-2"
            role="button"
            (click)="tomorrow()"
            >Siguiente</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
